// Tablets & Smaller
@media (max-width: 1050px) {
  // Showcase
  #showcase {
    .container {
      .showcase-content {
        width: 100%;
      }
    }
  }

  // Section A
  #services {
    .services-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Section B
  #about {
    .div-flex {
      img {
        display: none;
      }

      .about-area {
        .about-text {
          height: 70%;
          margin: 1rem;

          h2 {
            padding: 1rem;
            line-height: 2.2rem;
          }
          p {
            padding: 1rem;
          }
        }
        .sponsors {
          height: 30%;
          padding: 2rem;

          h2 {
            display: none;
          }
        }
      }
    }
    img {
      display: none;
    }
  }

  // Utilities
  .bottom-line {
    margin: 0 auto 2rem auto;
  }
}

// Smartphones
@media (max-width: 500px) {
  // Navbar
  #main-nav {
    padding: 0;

    .container {
      padding: 0;

      .nav-content {
        flex-direction: column;
        align-items: center;

        .logo {
          margin: 0.5rem;
        }

        ul {
          justify-content: space-between;
          padding: 0;
          width: 100%;

          li {
            padding: 0.34rem;

            a {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }

  // Showcase
  #showcase {
    line-height: 1.2;

    .container {
      .showcase-content {
        margin-top: 3rem;
        width: 100%;
      }
    }
  }

  // Section A
  #services {
    .services-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .div-flex {
        border-bottom: 1px dotted $main-color;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  // Section B
  #about {
    .div-flex {
      display: block;
      margin: 2rem;
      text-align: center;

      img {
        display: none;
      }

      .about-area {
        display: block;

        .about-text {
          height: 100%;

          h2 {
            padding: 1rem;
            line-height: 2.2rem;
          }
          p {
            padding: 0;
          }
        }

        .sponsors {
          display: none;
        }
      }
    }

    img {
      display: none;
    }
  }

  // Section C
  #contact {
    .container {
      flex-direction: column;

      .contact-form {
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px dotted $main-color;

        h2 {
          text-align: center;
        }

        input,
        textarea {
          width: 100%;
        }

        .form-group {
          margin: 0.6rem 0 0.6rem 0;
        }

        .btn {
          margin: 0;
        }
      }

      .contact-us {
        width: 100%;
        padding-top: 2rem;
      }
    }
  }

  // Footer {
  footer {
    padding: 1rem;
  }

  // Utilities
  .bottom-line {
    margin: 0 auto 1rem auto;
  }

  .text-primary {
    font-size: 2.2rem;
  }

  .text-secondary {
    font-size: 2.2rem;
  }
}

// Smaller Smartphones
@media (max-width: 370px) {
  // Navbar
  #main-nav {
    .container {
      .nav-content {
        ul {
          li {
            a {
              padding: 0.2rem;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  h1 {
    font-size: 1.8rem;
  }

  .btn {
    padding: 0.8rem 1.3rem;
  }
}

// Landscape
@media (max-height: 580px) {
  .py-2 {
    padding: 1rem 0;
    margin-top: 2.5rem;
  }
}

@media (max-height: 330px) {
  // Navbar
  #main-nav {
    padding: 0;

    .container {
      padding: 0;

      .nav-content {
        .logo {
          padding-left: 0.5rem;
        }

        ul {
          li {
            a {
              padding: 0.8rem;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  // Section B
  #about {
    .div-flex {
      .sponsors {
        display: none;
      }
    }
  }

  // Section C
  #contact {
    .container {
      flex-direction: column;

      .contact-form {
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px dotted $main-color;

        h2 {
          text-align: center;
        }

        input,
        textarea {
          width: 100%;
        }

        .form-group {
          margin: 0.6rem 0 0.6rem 0;
        }

        .btn {
          margin: 0;
        }
      }

      .contact-us {
        width: 100%;
        padding-top: 2rem;
      }
    }
  }

  h1 {
    font-size: 1.3rem;
  }

  .text-primary {
    font-size: 2rem;
  }

  .text-secondary {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }

  .pt-4 {
    padding: 2rem 0 0 0;
  }

  .bottom-line {
    margin: 0 auto 0.5rem auto;
  }
}
