@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: $light-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
  transition: all 1s;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

i {
  color: $main-color;
}

img {
  display: block;
}

// Main-nav
#main-nav {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid $main-color;
  z-index: 3;

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .logo {
      padding: 0;
    }

    ul {
      display: flex;

      li {
        &:hover,
        &.current {
          background: $main-color;
        }

        a {
          display: block;
          padding: 1.75rem;
          text-transform: uppercase;

          &:hover {
            color: $dark-color;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

// Showcase
#showcase {
  display: flex;
  color: #fff;
  position: relative;
  background: url(../img/showcase.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .showcase-content {
    text-align: center;
    width: 800px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
  }
}

// Section A
#services {
  .services-content {
    display: flex;
    flex-direction: row;

    .div-flex {
      padding: 2rem;
      transition: all 0.7s ease-in;

      &:hover {
        background: $main-color;
      }
      .serv-text {
        text-align: center;

        h2 {
          font-size: 1.5rem;
          padding: 1.5rem 0 1.5rem 0;
        }

        p {
          font-size: 18px;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

// Section B
#about {
  .about-area {
    display: flex;
    flex-direction: column;

    .about-text {
      h2 {
        font-size: 2rem;
        padding: 4rem 0 2rem 5rem;
      }

      p {
        font-size: 20px;
        padding: 0 5rem 2rem 5rem;
      }
    }
    .sponsors {
      background: #fff;

      h2 {
        font-size: 2rem;
        padding: 2rem 0 2rem 5rem;
      }

      .sponsors-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
          display: block;
          padding-bottom: 3rem;
          width: 100%;
        }
      }
    }
  }
}

// Section C
#contact {
  background: $dark-color;
  color: $light-color;
  padding-bottom: 2rem;

  .container {
    display: flex;
    max-width: 1500px;

    .contact-form {
      width: 50%;

      label {
        display: block;
        width: 50%;
      }

      input,
      textarea {
        font-family: inherit;
        padding: 0.5rem;
        width: 98%;
      }

      textarea {
        min-height: 100px;
        max-height: 500px;
        resize: vertical;
      }

      textarea::placeholder,
      input::placeholder {
        font-family: inherit;
        font-size: 16px;
      }

      .form-group {
        margin: 0.75rem;
        width: 100%;
      }

      .btn {
        margin: 0.75rem;
        width: 98%;
      }
    }

    .contact-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 2;
      width: 50%;
    }
  }
}

// Footer
footer {
  background: $dark-color;
  color: $light-color;
  padding: 1.5rem;
  border-top: 2px solid $main-color;
  text-align: center;
}

// Import Media Queries
@import "media";
