@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: $light-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
  transition: all 1s;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

i {
  color: $secondary-color;
}

img {
  display: block;
}

// Main-nav
#main-nav {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid $secondary-color;
  z-index: 3;

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .logo {
      padding: 0;
    }

    ul {
      display: flex;

      li {
        display: block;

        &:hover,
        &.current {
          background: $secondary-color;
        }

        a {
          display: block;
          padding: 1.75rem;

          &:hover {
            color: #fff;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

// Showcase
#showcase {
  display: flex;
  color: #fff;
  position: relative;
  background: url(../img/showcase.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .showcase-content {
    text-align: center;
    width: 800px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
  }
}

// Section A
#services {
  .services-content {
    .div-flex {
      display: flex;

      img {
        width: 50%;
      }

      .serv-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.7;
        width: 50%;

        h2 {
          font-size: 2rem;
          padding: 0 2rem;
        }

        p {
          font-size: 20px;
          padding: 2rem;
        }
      }
    }
  }
}

// Section B
#about {
  .div-flex {
    display: flex;

    .about-text {
      h2 {
        font-size: 2rem;
        padding: 9rem 0 3rem 15rem;
      }

      p {
        font-size: 20px;
        padding: 0 15rem;
      }

      .sponsors {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          margin: 1rem;

          img {
            display: block;
            padding: 2rem;
            width: 60%;
          }
        }
      }
    }
  }
}

// Section C
#contact {
  background: $dark-color;
  color: $light-color;
  padding-bottom: 2rem;

  .container {
    display: flex;

    .contact-form {
      width: 50%;

      label {
        display: block;
        width: 50%;
      }
      input,
      textarea {
        padding: 0.5rem 0;
        width: 100%;
      }

      .form-group {
        margin: 0.75rem;
        width: 100%;
      }

      .btn {
        margin: 0.75rem;
        width: 100%;
      }
    }

    .contact-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2;
      width: 50%;
    }
  }
}

// Footer
footer {
  background: $dark-color;
  color: $light-color;
  padding: 1.5rem;
  border-top: 2px solid $secondary-color;
  text-align: center;
}
